// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Wildest Fantasies parts.
// -----------------------------------------------------------------------------

.wrapper-wildest-fantasies {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
  background: linear-gradient(0deg, $background-color 43%, #FFFFFF 0);

  h2 {
    width: 70%;
    color: $brand-color;
    margin-bottom: 38px;
  }

  .slider {
    .items {
      img {
        height: 242px;
        width: 350px;
      }
    }
  }

  .wildest-fantasies-desktop {
    display: none;
  }
}