// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

$header-indent: 18px;
$regular: 'Roboto Regular';

.header-info h1,
.header-list,
input[type=button] {
  padding: 0 $header-indent;
  color: $light-grey;
}

.header-info p {
  color: $light-grey;
  padding: 0 50px 0 18px;
  max-width: 505px;
}

.header-list {
  display: inherit;
  flex-direction: row;
  background-color: $background-color;
}

.wrapper-header {
  min-width: 375px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('/repair-design-project/src/assets/image/headerimage.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: 55px;

  .header-instagram,
  .nav,
  .header-list--item-button input[type=button],
  .header-link-text,
  .header-scroll {
    display: none;
  }

  .header-list--item {
    &-ic,
    &-tel {
      height: 57px;
      display: flex;
      align-items: center;
      font-family: $regular, sans-serif;
      font-weight: 800;
      font-size: 12px;
      text-transform: uppercase;

    }

    &-tel {
      margin-left: auto;
    }
  }

  .header-list--item-tel {
    a:hover {
      color: $brand-color;
    }
  }

  .header-list--item-ic,
  .h1-text {
    color: $brand-color;
  }

  .header-info {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.7);

    h1 {
      font-family: 'Yeseva One';
      text-transform: uppercase;
      font-size: 1.4rem;
    }

    p {
      margin: 20px 0;
      font-family: 'Roboto Light';
      font-size: 1rem;
    }

    a.header-link {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $light-grey;

      &:hover {
        color: $brand-color;
        border-color: $brand-color;
      }
    }

    input[type=button] {
      width: 338.5px;
      background: none;
      border: none;
      background-color: $brand-color;
      
      &:hover {
        background-color: rgb(192, 142, 60);
      }
    }

    a.header-link,
    input[type=button] {
      margin: 15px $header-indent;
      width: 338.5px;
      height: 51px;
      font-family: $regular;
      font-size: .8rem;
      text-transform: uppercase;
    }
  }
}